/* ===================================
:: Template name: Bear
:: Template URI: https://themeforest.net/item/bear-bootstrap-html5-template/22652872
:: Description: Bear is highly modern, fast loading, search engine optimized, efficiently coded, well documented, vibrant and fully responsive HTML5 and CSS3 multi-purpose website template for corporate, agencies, individuals and many more businesses to showcase their company history, services, work portfolio, projects, team, blog, etc. If you are a lover of creative designs and would like to build a very unique and professional website quickly then your search should end at Bear.
:: Template Author: Pixscale
:: Template Author URI: https://themeforest.net/user/pixscale
:: Version: 1.0.0
====================================== */

/* ===================================
1.0 Common/Base CSS 
2.0 Header
3.0 slider
4.0 particles-slider
5.0 Registraion
6.0 video  slider
7.0 parallax slider
8.0 Coming-soon page
9.0 404 page
10.0 About Us
11.0 Services Section
12.0 Gallery Section
13.0 Blog Section
14.0 Contact Section 
15.0 Testimonial
16.0 Two-box Layout
17.0 Work
18.0 Call To Action
19.0 Team
20.0 Pricing Table
21.0 Client Logo
22.0 Counter
23.0 Footer
24.0 Responsive
25.0 Page Loader
26.0 Demo Pages
====================================== */

/* ===================================
    Common/Base CSS
====================================== */
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none outside none;
}
ul, ol, dl {
    list-style-position: outside;
}
p {
    font-size: 13px;
    color: #848484;
    font-weight: 400;
    line-height: 21px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* margin */
.margin-5{margin:5px;}
.margin-10{margin:10px;}
.margin-15 {margin:15px;}
.margin-20 {margin:20px;}
.margin-25 {margin:25px;}
.margin-30 {margin:30px;}

/* margin-top */
.margin-t-0{margin-top:0px;}
.margin-t-5{margin-top:5px;}
.margin-t-10{margin-top:10px;}
.margin-t-15 {margin-top:15px;}
.margin-t-20 {margin-top:20px;}
.margin-t-25 {margin-top:25px;}
.margin-t-30 {margin-top:30px;}

/* margin-bottom */
.margin-b-0{margin-bottom:0px;}
.margin-b-5{margin-bottom:5px;}
.margin-b-10{margin-bottom:10px;}
.margin-b-15 {margin-bottom:15px;}
.margin-b-20 {margin-bottom:20px;}
.margin-b-25 {margin-bottom:25px;}
.margin-b-30 {margin-bottom:30px;}

/* opacity */
.opacity-1{
    opacity: 1 !important;
}
.opacity-2{
    opacity: 0.2 !important;
}
.opacity-3{
    opacity: 0.3 !important;
}
.opacity-4{
    opacity: 0.4 !important;
}
.opacity-5{
    opacity: 0.5 !important;
}
.opacity-6{
    opacity: 0.6 !important;
}
.opacity-7{
    opacity: 0.7 !important;
}
.opacity-8{
    opacity: 0.8 !important;
}
.opacity-9{
    opacity: 0.9 !important;
}

.abc{
    color: white !important;
}

button, input, select {
    border: none;
    height: 40px;
    line-height: 38px;
    padding: 0px 15px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group, a:focus, input:focus {
    outline: none;
}

::selection {
    color: #000;
    background: #dcdcdc;
}
*, a:focus {
    outline: none;
    text-decoration: none;
}
a, a:hover, .btn:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}

/* ===================================
    Header
====================================== */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 111;
    padding: 4px 0;
    font-family: 'Montserrat', sans-serif;
}
.header-fix {
    height: 90px;
}
.navbar-brand {
    padding: 15px 0
}
.header-dark .navbar-default .navbar-nav>li>a.active {
    color: #70b6e5;
}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
    transform: translateY(3px);
}
.dropdown-menu.col-1 {
    left: auto;
    right: auto;
    min-width: 220px;
}
.dropdown-menu.col-1>li>a, .mega-menu-ul li a {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 13px;
    color: #757575;
}
.dropdown-menu.col-1 li a:hover{
    padding-left: 25px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #97ab29;
    background-color: transparent;
}
.yamm .yamm-content {
    padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}
.navbar-brand {
    height: 80px;
}
.navbar-brand>img {
    display: block;
    width: 120px;
}
.header-dark {
    background: #252c3e;
    border-bottom: 2px solid #70b6e5;
}
.header-dark .navbar-default .navbar-nav>li>a:hover, .header-dark .navbar-default .navbar-nav>li.active>a {
    color: #70b6e5;
    background-color: transparent;
}
.header-dark .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 500;
    color: #EAEAEA;
    padding: 0px 20px;
    height: 80px;
    line-height: 80px;

}
.header-dark .navbar-default .navbar-nav>li>a.current{
    color: #70b6e5;    
}
.yamm-fw .dropdown-menu .grid-demo {
    padding: 15px;
}
.yamm-fw .dropdown-menu .row h4 {
    font-size: 16px;
    border-bottom: 3px solid #70b6e5;
    line-height: 40px;
    margin: 0px;
    margin-bottom: 15px;
    color: #777777;
    font-weight: 600;
}
.mega-menu-ul {
    padding: 0px;
    margin: 0px;
}
.mega-menu-ul li {
    list-style: none;
    margin-bottom: 10px;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    line-height: 30px;
}
.mega-menu-ul li:hover {
    padding-left: 10px;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
}
.btn-link:focus, .btn-link:hover{
    color: #f5f5f5;
    text-decoration: none;
}
.yamm-fw .dropdown-menu .row {
    margin: 0px;
}
.yamm-fw .dropdown-menu {
    padding: 0px;
}
.caret {
    margin-left: 10px;
}
.search-bar input {
    float: left;
    height: 40px;

}
.dropdown b.caret {
    display: none;
}
.search-btn {
    background: #70b6e5;
    color: #252c3e;
    font-weight: 500;
}
.search-bar {
    position: absolute;
    right: 30px;
    opacity: 0;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    bottom: -42px;
    transform: rotateX(50deg);
    transform-origin: 100% 0;
    perspective: 1000px;
    transform-origin: 100% 0;
}
.navbar-default {
    background: transparent;
    border: none;
    margin-bottom: 0px;
    position: relative;
}
.search-bar.active form {
    position: relative;
}
.search-bar.active {
    opacity: 1;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    bottom: -46px;
    perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transform-origin: 100% 0;
    -o-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 99999999;
}
.panel-default>.panel-heading {
    color: #868686;
    background-color: rgba(42, 47, 60, 0);
    border-color: #252c3e;
    padding: 0px;
}
.panel-title .pull-right {
    float: right!important;
    color: #70b6e5;
    position: relative;
    font-size: 22px;
    top: -4px;
}
.panel-title .glyphicon {
    color: #70b6e5;
    position: relative;
    font-size: 12px;
    top: -4px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;
}
.panel-group .panel+.panel {
    margin-top: 10px;
}
.panel-title {
    padding: 20px 15px;
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.bg-pattern-1{
    background: url(../images/bg1.jpg);
    background-size: cover;
}
/* ===================================
    slider
====================================== */ 
.slider {
    height: 720px;
}
.item {
    height: 720px;
}
.slider-main .item {
    height: calc(100vh - 80px);
}
.slide-overlay{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.slider-main .carousel-caption{
    text-align: center;
}
.slider-main .slider-text h1 {
    font-size: 56px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.item {
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.owl-controlls {
    text-align: center;
    position: relative;
}
.owl-controlls .owl-page.active span {
    background: #70b6e5;
}
.owl-controlls .owl-page span {
    width: 11px;
    border-radius: 60px !important;
    height: 11px;
}
.owl-controlls .owl-page.active span, .owl-controlls.clickable .owl-page:hover span {
    opacity: 1;
    background: #70b6e5;
}
.slider-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50%;
}
.slider-img img {
    max-width: 720px;
    display: block;
    float: right;
}
.slider-text h1 span {
    background: #70b6e5;
    padding: 0 13px;
    color: #020409;
    border-radius: 2px;
}
.slider-text h1 {
    font-size: 44px;
    color: #EAEAEA;
    font-weight: 700;
    margin-bottom: 20px;
}
.slider-text p {
    color: #EAEAEA;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.slider-text a {
    background: #70b6e5;
    color: #090f1b;
    padding: 8px 20px;
    border-radius: 1px;
    margin-top: 7px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.carousel-control .icon-next:before {
    content: '';
}
.carousel-control .icon-prev:before {
    content: '';
}
.carousel-control.right {
    background: none;
    opacity: 0.8;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.carousel-control.right:hover {
    opacity: 1;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.carousel-control.left {
    background: none;
    opacity: 0.8;
}
.carousel-control.left:hover {
    opacity: 1;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.carousel-indicators li:hover {
    background-color: #70b6e5;
    border-color: #70b6e5;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.carousel-caption {
    position: absolute;
    text-align: left;
    width: 100%;
    top: 50%;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption {
    text-shadow: none;
}
.animated {
    animation-duration: 1s;
}
.animated.animation-delay-1 {
    animation-delay: 0.5s;
}
.carousel-control {
    width: 10%;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #70b6e5;
    border-color: #70b6e5;
}
.hide-md {
    display: none !important;
}
.conatnt-row {
    padding-top: 40px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 40px;
    height: 40px;
    margin-top: -20px;
}
/* ===================================
    particles-slider
====================================== */
.particle-slider{
    user-select: none;
}
canvas {
    display: block;
    vertical-align: bottom;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;   
} 

/* ===================================
    Registraion
====================================== */ 
.user-resistration {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8196078431372549);
    font-family: 'Montserrat', sans-serif;
}
.hide-overelay {
    width: 100%;
    height: 100%;
    background: rgba(42, 47, 60, 0.32941176470588235);
    position: absolute;
}
.user-resistration-inner {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 850px;
    min-height: 500px;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.form-close {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #EA2026;
    opacity: 0.5;
    z-index: 1;
    font-size: 20px;
}
.form-close:hover {
    opacity: 1;
    color: #EA2026;
}
.register-forms {
    float: left;
    width: 450px;
    height: 500px;
    padding: 50px 30px 0px 30px;
}
.register-left-graphic {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.register-forms form {
    position: relative;
    height: 100%;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
}
.register-forms form {
    position: relative;
    height: 100%;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
}
.register-forms form {
    position: relative;
    height: 100%;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
}
.register-form-title {
    margin: 0px;
    font-size: 20px;
    color: #252c3e;
    margin-bottom: 25px;
}
input {
    font-size: 13px;
    color: #95989A;
    border: 1px solid #E6E6E6;
    border: none;
    line-height: 40px;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}
.register-form-submit {
    text-align: right;
    margin-bottom: 35px;
}
.register-footer {
    bottom: 0px;
    width: 450px;
    border-top: 1px solid #E6E6E6;
    line-height: 45px;
    left: -30px;
    text-align: center;
    position: absolute;
    font-size: 12px;
    color: #95989A;
}
.register-input {
    width: 100%;
    background: #fff;
    font-size: 12px;
    color: #95989A;
    border: 1px solid #E6E6E6;
    margin-bottom: 15px;
}
.register-input {
    width: 100%;
    background: #fff;
    font-size: 12px;
    color: #95989A;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    border-radius: 2px;
}
.register-form-submit a {
    font-size: 12px;
    margin-right: 10px;
}
.register-form-title:after {
    content: '';
    background: #70b6e5;
    width: 60px;
    height: 4px;
    display: block;
    margin-left: 1px;
    margin-top: 10px;
}
.register-footer a {
    color: #214597;
    font-weight: 500;
    margin-left: 5px;
}
.register-form-submit a:hover {
    color: #252c3e;
}
.form-tt {
    font-size: 12px;
    font-weight: 400;
    color: #929292;
    margin-bottom: 20px;
    margin-top: -15px;
}

/* ===================================
  video  slider
====================================== */
.hero-video video{
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.hero-video{
    position: relative;
    overflow: hidden;
    height: calc(100vh - 80px);
    width: 100%;
}
.video-overlay{
    height: 100%;
    width: 100%;
    background: black;
    position: relative;
    z-index: 1;
    opacity: 0.5;
}
.video-caption h1 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
}
.video-caption p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}
.video-caption a {
    background: #ffffff;
    color: #31353b;
}
.video-caption{
    text-align: center;
    top: 50% !important;
}
.mouse-scroll-down img{
    width: 100%;
}
.mouse-scroll-down{
    position: absolute;
    left: 50%;
    z-index: 1;
    bottom: 20px;
    width: 28px;
    transform: translate(-50%, -50%);
    padding: 1px;
}

/* ===================================
    parallax slider
====================================== */
.parallax-hero{
    height: calc(100vh - 80px);
    position: relative;
}


/* ===================================
    Coming-soon page
====================================== */
.coming-soon-hero {
    height: 100vh;
    position: relative;
    min-height: 530px;
}
.subscribe-now {
    width: 360px;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.coming-soon-hero .video-caption h1 {
    color: #70b6e5;
    font-size: 78px;
    margin-bottom: 40px;
}
.subscribe-now:after{
    content: '';
    clear: both;
    display: block;
}
.subscribe-now input{
    width: 260px;
    float: left;
    border-radius: 2px 0 0 2px;
}
.subscribe-now button{
    float: left;
    background: #70b6e5;
    color: #fff;
    border-radius: 0 2px 2px 0px;
}
.social-media-list{
    display: block;
    margin-top: 20px;
    text-align: center;
}
.social-media-list li{
    display: inline-block;
    margin: 0 4px;
}
.social-media-list li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    padding: 0;
    border-radius: 40px;
    font-size: 15px;
    color: #040c13;
    background: #70b6e5;
}
.social-media-list li a:hover{
    color: #252323;
    background: #fefefe;
}
.coming-soon-hero .video-caption p {
    letter-spacing: 0;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
}
#clockdiv{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: rgba(62, 62, 62, 0.3803921568627451);
    display: inline-block;
    width: 130px;
}
#clockdiv div > span {
    padding: 0;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    font-size: 50px;
    width: 100%;
    color: #e4e4e4;
}
.smalltext {
    font-size: 13px;
    border-top: 1px solid rgba(188, 213, 49, 0.7803921568627451);
    padding-top: 7px;
}

/* ===================================
    404 page
====================================== */
#error-page{
    height:100vh;
}
.big-caption {
    font-size: 160px !important;
    color: #70b6e5 !important;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 0 1px rgb(2, 17, 16);
    margin-top: 0px;
}
.error-page-caption{
    background: rgba(255, 255, 255, 0.86);
    padding: 70px 0;
}
.caption-bottom {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.error-content {
    color: #656565;
    margin-bottom: 20px;
}
.hero-caption{
    text-align: center;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* ===================================
    About Us
====================================== */
.section {
    padding: 40px 0px;
    position: relative;
    overflow: hidden;
}
.section-title h1 {
    font-size: 30px;
    color: #252c3e;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 25px;
}
.section-title.left h1:after {
    margin: 0;
    margin-top: 18px;
}
.bg-grey {
    background: #F5F5F5;
}
.section-title span {
    background: rgba(255, 255, 255, 0);
    color: #252c3e;
    padding: 8px 15px;
    border: 2px solid rgba(188, 213, 49, 0);
    border-top: none;
    padding-top: 0px;
    font-size: 18px;
    border-bottom: 2px solid #70b6e5;
    font-weight: 600;
}
.section-title.left span {
    padding-left: 0px;
}
.about-right-side {
    margin: 35px 0px 0px 10px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.54);
    z-index: 1;
    position: relative;
}
.link {
    font-size: 14px;
    font-weight: 500;
    color: #70b6e5;
}
#aboutus .row {
    position: relative;
    z-index: 1;
}
#about p {
    text-align: justify;
}
.decoration-text {
    position: absolute;
    right: -28px;
    border-bottom: 0px;
    font-size: 190px;
    color: rgb(245, 245, 245);
    bottom: -81px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

/* ===================================
    Services Section
====================================== */
#services{
    padding-bottom: 50px;
}
.service-box-1 span {
    height: 70px;
    width: 70px;
    background: #fff;
    display: inline-block;
    border-radius: 60%;
    line-height: 70px;
    color: #70b6e5;
    font-size: 26px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1607843137254902);
}
.service-box-1 a {
    display: block;
    font-size: 16px;
    color: #252c3e;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.service-box-1 a:hover {
    color: #70b6e5;
}
.service-box-1 {
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 50px;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.service-box-1:hover span {
    transform: scale(1.1);
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}

/* ===================================
    Gallery Section
====================================== */
#gallery{
    padding-bottom: 70px;
}
.modal-backdrop.in {
    opacity: 0.9;
    background: #252c3e;
}
#gallary-modal .modal-title {
    margin: 10px 0;
    color: #EAEAEA;
    font-size: 15px;
}
#gallary-modal .modal-body img {
    width: 100%;
}
#gallary-modal .modal-header .close {
    margin-top: 0px;
    font-size: 17px;
    color: #EAEAEA;
    opacity: 1;
}
#gallary-modal .modal-header {
    background: #252c3e;
    padding: 0px 15px;
    border-bottom: 1px solid #252c3e;
}
.icons-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.open-modal .hover-box {
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    background: rgba(42, 47, 60, 0.8509803921568627);
    opacity: 0;
    cursor: pointer;
}
.open-modal img {
    width: 100%;
}
.open-modal {
    display: block;
    padding: 15px;
    position: relative;
    background: #252c3e;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.49019607843137253);
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    border-radius: 2px;
}
.open-modal:hover .hover-box {
    opacity: 1;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
}
.gallery-row {
    padding-top: 30px;
}

/* ===================================
    Blog Section
====================================== */
.featured-blog-box {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.04);
    transition: 2s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    border-radius: 2px;
    overflow: hidden;
}
.featured-blog-box .featured-img {
    position: relative;
}
.featured-blog-box .featured-img:before {
    transition: 2s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 100%;
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, 0.7215686274509804);
}
.featured-blog-box .featured-img img {
    width: 100%;
}
.featured-lable-blog {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 2s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    padding: 10px;
    opacity: 0;
    font-size: 12px;
    width: 100%;
}
.page-head{
    background: url(../images/fabric-of-squares.png) #252c3e;
    padding: 80px 0;

}
.blod-content p{
    font-size: 12px;
}
.blod-content {
    background: #F5F5F5;
    padding: 80px 0;
}
.side-bar-title {
    font-size: 14px;
    font-weight: 500;
    color: #7d7d7d;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 15px;
}
.catagory-list li:last-child {
    margin-bottom: 0;
}
.catagory-list li {
    margin-bottom: 20px;
}
.catagory-list li a:hover {
    color: #70b6e5;
}
.catagory-list.tags li a {
    padding: 5px 15px;
    border: 2px solid #70b6e5;
    display: block;
    border-radius: 34px;
    font-size: 12px;
}
.catagory-list.tags li {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 15px;
}
.catagory-list.tags li:last-child{
    margin-bottom: 0;
}
.blod-content .featured-blog-box{
    margin-bottom: 30px;
}
.page-header-title:after{
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: #70b6e5;
    margin: 0 auto;
    margin-top: 15px;
}
.blog-sidebar {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.02);
    border-top: 2px solid #70b6e5;
}
.blog-sidebar .subscribe-group{
    margin-top:0; 
}
.page-header-title {    
    text-align: center;
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #f5f5f5;
}
.featured-img .admin-lable {
    float: left;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.featured-img .admin-lable i, .featured-img .blog-date i{
    margin-right: 2px;
}
.featured-img .blog-date {
    float: right;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.featured-blog-box:hover .featured-img:before, .featured-blog-box:hover .featured-lable-blog {
    opacity: 1;
    transition: 2s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}
.featured-lable-blog .material-icons {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.featured-data {
    padding: 15px;
    display:block;
    background: #fff;
}
.blog-description {
    margin: 0px;
    font-size: 12px;
    color: #545454; 
    line-height: 19px;
}
.blog-title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
    color: #252c3e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.btn-link {
    font-size: 12px;
    color: #70b6e5;
    float: right;
    text-transform: uppercase;
}
.btn-link:hover {
    color: #70b6e5;
    font-weight: 500;
    text-decoration: none;
}
.btn-link i {
    font-size: 16px;
    position: relative;
    top: 4px;
    transform: rotatey(180deg);
}
.btn-theme {
    background: #70b6e5;
    color: #fff;
    padding: 8px 15px;
    border-radius: 2px;
}
.btn-theme:hover {
    color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4392156862745098);
} 
.blog-feature-img img{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.blod-content{
    background: #F5F5F5;
}
.blog-left {
    position: relative;
    background: #fff;
    padding: 30px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}
blockquote p{
    font-size: 14px;
    color: #6d6d6d;
    font-weight: 500;
}
blockquote {
    padding: 5px 20px;
    margin: 20px 0 20px;
    border-left: 5px solid #ee6e73;
}
.blog-caption{
    margin-top: 0;
    line-height: 130%;
    font-size: 24px;
    font-weight: 600;
    color: #535761;
    margin-bottom: 20px;
}
.blog-small-title{
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.post-controls{
    margin-bottom: 20px;
}
.post-controls span {
    margin-right: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #252c3e;
}
.post-controls span{
    margin-right: 10px;
}
.post-controls span i{
    color: #70b6e5;
    margin-right: 2px;
}
.blog-pagination{
    margin-top: 20px;
    margin-bottom: 40px;
}
.next-blog{
    float: right;
}

/* ===================================
    contact Section
====================================== */
.contact-section {
    background: #fff; 
}
.contact-box {
    padding: 120px 100px;
    background: url(../images/fabric-of-squares.png) #252c3e;
}
.contact-details-top {
    display: flex;
    margin-bottom: 50px;
}
.box-contact {
    flex: 1;
    text-align: center;
    color: #fff;
}
.box-contact img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.box-contact h6 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}
.form-wrapper {
    position: relative;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    padding-right: 350px;
    border-radius: 10px;
}
.form-title{
    font-size: 18px;
    color: #95989A;
    margin: 0px;
    margin-bottom: 20px;
}
.text-box{
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    border-radius: 3px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    padding: 0 20px;
}
.text-box.error {
    border: 1px solid rgba(234, 32, 38, 0.42);
}
textarea.text-box{
    padding: 10px 15px;
    font-size: 13px;
    line-height: normal;
    color: #95989A;
    height: 60px;
}
#company-location {
    height: 80%;
    width: 350px;
    position: absolute;
    background: #fff;
    right: -52px;
    border-radius: 10px;
    top: 10%;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6196078431372549);
}
.form-title:after {
    content: '';
    height: 3px;
    width: 50px;
    background: #70b6e5;
    margin-top: 10px;
    display: block;
}

/* ===================================
    Testimonial
====================================== */ 
.item {
    position: relative;
}
.client-contant {
    background-image: url(../images/client-bg.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center 110px;
    padding: 25px;
    text-align: center;
    cursor: move;
}
.client-contant p {
    max-width: 90%;
    color: #95989A;
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.client-picture img {
    width: 100%;
}
.client-picture {
    display: inline-block;
    border-radius: 60%;
    border: 2px solid #E6E6E6;
    overflow: hidden;
    height: 60px;
    background: #848484;
    width: 60px;
}
.client-name {
    font-size: 14px;
    margin: 0px;
    color: #95989A;
    margin-top: 10px;
}
.owl-controlls {
    margin-top: 25px;
    text-align: center;
}
#client-tell .owl-wrapper, #client-tell .owl-item, #client-tell .item {
    height: auto;
}

/* ===================================
    two-box layout
====================================== */
.bg-dark{
    background-color: #252c3e;
}
.box-bg {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.box-listing{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box-listing li {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
}
.box-listing li a{
    padding-left: 20px;
    position: relative;
}
.box-listing li a i {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 14px;
    color: #70b6e5;
}
.box-contant p{
    color: #95989a;
}
.box-contant{
    padding: 80px;
}
.box-contant h2{
    color: #fff;
    line-height: 34px;
    margin-bottom: 15px;
}
.btn-theme{
    padding: 8px 15px;
    background: #70b6e5;
    color: #252c3e;
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
} 
.equal-height{
    display: flex;
}
.equal-height .col-md-6{
    flex: 1;
    position: relative;
}

/* ===================================
    Work
====================================== */
#project{
    padding-bottom: 70px;
}
.project-wrapper {
    margin-bottom: 30px;
}
.project ul {
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    margin-bottom: 40px;
    display: inline-block;
}
.project ul li.active, .project ul li.active a, .project ul a:hover {
    background: #70b6e5;
    color: #fff;
}
.project ul li {
    display: inline-block;
    list-style: none;
    margin: 0px;
    position: relative;
    border: 1px solid #70b6e5;
    float: left;
    border-right: 0px;
}
.project ul li:last-child {
    border-right: 1px solid #70b6e5;
}
.project ul li a {
	text-decoration:none;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    color: #545454;
    font-size: 12px;
}
.b-right-0 {
    border-right: none !important;
}
.project-box {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.23921568627450981);
}
.project-box .featured-img {
    position: relative;
}
.project-box .hover-box {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 2s cubic-bezier(.19, 1, .22, 1);
}
.project-box:hover .hover-box {
    opacity: 1;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
}
.hover-inner {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    border: 1px solid #70b6e5;
}
.hover-inner .links {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.hover-box a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hover-box a {
    background: #70b6e5;
    color: #151820;
    border-radius: 100%;
    margin: 0px 15px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
}
.project-box:hover .hover-box a, .open-modal:hover .hover-box a {
    margin: 0px 5px;
}
.hover-box a:hover {
    background: #fff;
}
.project-details {
    text-align: center;
    padding: 17px 0px;
    display: block;
    background: #f5f5f5;
}
.project-details .project-title {
    margin-bottom: 3px;
    font-size: 16px;
    margin-top: 0px;
    color: #252c3e;
    font-weight: 500;
    display: block;
    position: relative;
    top: 2px;
}
.project-details .project-category {
    margin-bottom: 0;
    font-size: 11px;
    color: #6f6f6f;
    display: block;
    font-weight: 300;
    letter-spacing: 1px;
}

/* ===================================
    Call To Action
====================================== */ 
.call-to-action a i {
    margin-right: 6px;
    font-size: 17px;
}
.call-to-action a {
    background: #252c3e;
    color: #ffffff;
    padding: 9px 20px;
    border-radius: 2px;
    position: relative;
    float: right;
}
.call-to-action a:focus{
    color: #95989a;
} 
.call-to-action h1 {
    margin: 0;
    margin-top: 8px;
    color: #252c3e;
    float: left;
    font-size: 24px;
    font-weight: 700 !important;
    text-transform: uppercase;
}
.call-to-action {
    padding: 50px 0;
    background: #70b6e5;
}

/* ===================================
    Team
====================================== */
.team-member {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.10980392156862745);
}
.team-footer p {
    margin: 0;
    font-size: 12px;
}
.team-footer h4 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.profile {
    position: relative;
}
.hover-profile p {
    text-align: center;
    color: #fff;
}
.hover-contant {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.hover-contant ul {
    margin-top: 20px;
    text-align: center;
}
.hover-contant ul li a {
    font-size: 18px;
    color: #fff;
}
.hover-contant ul li a:hover {
    color: #70b6e5;
}
.hover-contant ul li {
    display: inline-block;
    margin: 0px 8px;
}
.hover-profile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(42, 47, 60, 0.77);
    height: 100%;
    padding: 0 21px;
    opacity: 0;
    transition: 2s cubic-bezier(.19, 1, .22, 1);
}
.team-member:hover .hover-profile {
    opacity: 1;
    transition: 2s cubic-bezier(.19, 1, .22, 1);
}
.team-member:hover img {
    filter: blur(4px);
}
.team-footer {
    text-align: center;
    padding: 15px 0px;
}

/* ===================================
    pricing-table
====================================== */
.pricing-box{
    background: #fff;
    text-align: center;
    padding: 40px 0px;
    border-radius: 18px;
    box-shadow: 0 0 19px rgba(84, 84, 84, 0.2);
}
.pricing-icon i {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pricing-icon{
    display: inline-block;
    height: 100px;
    width: 100px;
    box-shadow: 0px 3px 10px #dedede;
    border-radius: 60%;
    color: #70b6e5;
    position: relative;
}
.pricing-heading h3{
    margin: 0px;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
}
.pricing-heading{
    padding: 20px 0;
    background: #70b6e5;
    margin-top: 30px;
}
.pricing-tag span{
    font-size: 11px;
    color: #848484;
}
.pricing-tag h1{
    margin: 0px;
    font-size: 36px;
    font-weight: 600;
}
.pricing-tag{
    padding: 30px 0;
}
.pricing-list li {
    padding: 15px 0px;
    border-top: 1px solid rgb(232, 232, 232);
    color: #7d7d7d;
}
.pricing-list{
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.btn-border:hover {
    background: #70b6e5;
    color: #fff;
}
.btn-border {
    padding: 8px 20px;
    border-radius: 29px;
    border: 2px solid #70b6e5;
    font-size: 13px;
    color: #333333;
    font-weight: 500;
}

/* ===================================
    client-logo
====================================== */ 
#clint-logo{
    height: auto !important;
}
#clint-logo.owl-carousel .owl-wrapper{
    position: relative;
}
.logo-wrapper {
    background: rgba(245, 245, 245, 0.611764705882353);
    padding: 30px 15px;
    text-align: center;
    margin: 0 10px 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12156862745098039);
    cursor: move;
} 
.logo-wrapper img {
    min-width: 100%;
    width: 100%;
}

/* ===================================
    Counter
====================================== */ 
.counter {
    padding: 80px 0;
    background: white;
}
.counter-inner {
    position: relative;
    color: #252c3e;
    padding-left: 90px;
    font-size: 13px;
    border-right: 1px solid #fff;
}
.counter-inner.last {
    border-right: none;
}
.counter-inner h4 {
    margin: 0px;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #252c3e;
}
.counter-inner i {
    font-size: 50px;
    position: absolute;
    left: 20px;
    color: #252c3e;
    top: 2px;
}

/* ===================================
    footer
====================================== */ 
footer {
    background: #252c3e;
    padding-top: 50px;
    padding-bottom: 32px;
    color: #95989A;
    font-size: 13px;
}
.logo-footer {
    width: 230px;
    margin-bottom: 15px;
}
.footer-title {
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
    margin-top: 0px;
}
.footer-list {
    margin: 0px;
    padding: 0px;
}
.footer-list li a {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.footer-list li a:hover {
    color: #70b6e5;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.social-media li a:hover {
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
    transform: scale(1.1);
}
.footer-bottom i:hover {
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
    transform: scale(1.1);
}
.footer-bottom {
    background: #252c3e;
    font-size: 13px;
    text-align: center;
    color: #95989A;
    border-top: 1px solid #343e56;
}
.row-footer .col-md-4 img {
    border: 2px solid #fff;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.row-footer .col-md-4 img:hover {
    border: 2px solid #70b6e5;
    transition: 0.5s cubic-bezier(.19, 1, .22, 1);
}
.row-footer .col-md-4 {
    flex: 1;
    padding: 0 5px;
    margin-bottom: 10px;
    min-width: 33.33333333%;
}
.row-footer {
    display: flex;
    flex-wrap: wrap;
}
.social-media {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.social-media li a {
    background: #f5f5f5;
    color: #252c3e;
    border-radius: 60%;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0 3px;
    display: block;
}
.social-media li a i {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-media li {
    list-style: none;
    margin-bottom: 0px;
    display: inline-block;
}
.subscribe-group .btn span{
    font-size: 13px;
}
.subscribe-group .btn:hover {
    color: #000;
    font-weight: 400;
}
.subscribe-group .btn {
    font-size: 13px;
    padding: 0 10px;
    line-height: 26px;
    height: 34px;
    background: #70b6e5;
    border-color: #70b6e5;
    font-weight: 500;
    border-radius: 0 2px 2px 0px;
}
.subscribe-group {
    margin-top: 10px;
}
.subscribe-group input {
    font-size: 13px;
    border-radius: 2px 0px 0px 2px;
    box-shadow: none;
}
.form-control:focus {
    border: none;
}
.footer-bottom i {
    color: #70b6e5;
}
.BackToTop i {
    line-height: 36px;
    font-size: 19px;
    color: #ffffff;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
}
.BackToTop:hover i {
    line-height: 30px;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
}
.BackToTop {
    font-weight: bold;
    height: auto;
    padding: 0;
    position: fixed;
    right: 45px;
    text-align: center;
    text-decoration: none;
    top: 91%;
    width: 35px;
    background-color: #70b6e5;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    z-index: 555;
    border-radius: 2px;
    height: 35px;
}
.btn-small{
    height: 34px;
    font-size: 12px;
}
.top-logo-demos {
    margin-top: 70px;
}
.demo-slider #particles-js{
    opacity: 0.5;
}
.demo-slider{
    background:url(../images/slider-bg-1.jpg);
    text-align: center; 
    overflow: hidden;
    position: relative;
    user-select: none;
    background-size: cover;
}
.demo-slider h2 {
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 36px;
}
.demos-3{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 7px;
    max-width: 100%;
}
.demo-list{
    padding: 100px 0;
    background: #f2f2f2; 
}
.demo-box {
    background: #ffffff;
    color: #252c3e;
    display: block;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2784313725490196);
    transition: 1s cubic-bezier(.19, 1, .22, 1);
}
.demo-box img {
    width: 100%;
    border-radius: 15px;
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}
.demo-box:hover img {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.21);
    transition: 1s cubic-bezier(.19, 1, .22, 1);
    transform: scale(1.02);
}
.demo-caption {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #252c3e;
    margin-top: 5px;
}

/* ===================================
    Responsive
====================================== */
@media (min-width:1600px) {
    .decoration-text {
        position: absolute;
        right: 200px;
    }
}
@media (max-width:1266px) {
    .box-contant {
        padding: 50px;
    }
}
@media (max-width:1200px) {
    .call-to-action .container {
        width: 100%;
    }
}
@media (max-width:1650px) {
    .slider-img img {
        max-width: 800px;
    }
}
@media (max-width:1400px) {
    .slider-img img {
        max-width: 800px;
    }
    .slider-text h1 {
        font-size: 38px;
    }
    .slider-text p {
        letter-spacing: 4px;
        font-size: 14px;
    }
    .carousel-control {
        display: none;
    }
    .slider-img {
        right: -100px;
    }
}
@media (max-width:1200px) {
    .section {
        padding: 80px 0px;
    }
    .slider-main .slider-text h1 {
        font-size: 42px;
    }
    .navbar-default {
        width: 100%;
    }
    .slider-img img {
        max-width: 640px;
    }
    #slider-main, #slider-main .owl-wrapper, #slider-main .owl-item, #slider-main .item {
        min-height: 615px;
    }
    #client-tell .owl-wrapper, #client-tell .owl-item, #client-tell .item {
        min-height: auto;
    }
}
@media (max-width:1080px) {
    .slider-img {
        width: 100%;
        right: 0px;
    }
    .slider-main .carousel-caption{
        top: 50%;
    }
    .slider-text h1 span {
        border-radius: 1px;
    }
    .carousel-caption {
        text-align: center;
        top: 200px;
    }
    .slider-img img {
        max-width: 100%;
    }
    .navbar-default {
        width: 100%;
    }
    .header-dark .navbar-default .navbar-nav>li>a {
        font-size: 13px;
        padding: 0px 11px;
    }
    .mega-menu-ul li {
        font-size: 13px;
    }
}
@media (max-width:991px) {
    .team-member{
        margin-bottom: 30px;
    }
    .header-fix {
        height: 80px;
    }
    .search-bar.active{
        bottom: -42px;
    }
    header{
        padding: 0;
    }
    .counter-inner {
        text-align: center;
    }
    .counter-inner {
        text-align: center;
        border: none;
        border-bottom: 1px solid #fff;
        padding-left: 0;
        margin-bottom: 55px;
        padding-bottom: 50px;
    }
    .counter-inner.last {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .counter-inner i {
        font-size: 50px;
        position: initial;
        color: #252c3e;
        display: inline-block;
        margin-bottom: 10px;
    }
    .about-right-side {
        margin-left: 0px;
    }
    .decoration-text {
        display: none;
    }
    #company-location {
        height: 80%;
        width: 280px;
    }
    .form-wrapper {
        padding-right: 280px;
    }
    .logo-footer {
        width: 140px;
    }
    .user-resistration-inner {
        min-height: 400px;
        max-width: 700px;
    }
    .register-left-graphic {
        width: 300px;
        height: 400px;
    }
    .register-forms {
        height: 400px;
        width: 400px;
    }
}
@media (max-width:860px) {
    .header-dark .navbar-default .navbar-nav>li>a {
        font-size: 12px;
        padding: 0px 8px;
    }
}
@media (max-width:767px) {
    #clockdiv{
        max-width: 320px;
    }
    #clockdiv > div{
        margin-bottom: 8px;
    }
    .coming-soon-hero .video-caption p{
        margin-top: 20px;
        font-size: 15px;
    }
    .blog-feature-img {
        height: 420px;
    }
    .blog-caption{
        font-size: 21px;
    }
    .blog-small-title{
        margin-top: 25px;
        font-size: 14px;
    }
    .post-controls span {
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .post-controls {
        margin-bottom: 15px;
    }
    .parallax-hero.coming-soon-hero{
        height: 100vh;
    }
    .coming-soon-hero .slider-text h1 {
        font-size: 34px;
    }
    .big-caption{
        font-size: 77px !important;
    }
    .parallax-hero {
        height: calc(100vh - 60px);
        position: relative;
    }
    .hero-video {
        height: calc(100vh - 60px);
    }
    .featured-blog-box {
        margin-bottom: 30px;
    }
    .pricing-box{
        margin-bottom: 30px;
    }
    .equal-height{
        display: block;
    }
    .BackToTop i {
        line-height: 30px;
    }
    .BackToTop {
        width: 30px;
        height: 30px;
        opacity: 0.7;
    }
    .box-bg{
        height: 400px;
        position: initial;
        margin-top: 15px;
        border-radius: 10px;
    }
    .box-contant {
        padding: 30px 15px;
    }
    .item{
        height: calc(100vh - 60px)
    }
    .slider-main .item {
        height: calc(100vh - 60px);
    }
    .slider-main .slider-text h1 {
        font-size: 29px;
    }
    .call-to-action h1, .call-to-action a {
        float: none;
    }
    .yamm .dropdown-menu {
        transform: translateY(0px);
    }
    .dropdown b.caret {
        display: inline-block;
    }
    .call-to-action h1 {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;
    }
    .call-to-action {
        text-align: center;
    }
    .project ul li {
        width: 32%;
        margin: 2px;
        border-right: 1px solid #70b6e5
    }
    .project ul li a {
        padding: 10px 0;
    }
    .BackToTop {
        bottom: 15px;
        right: 15px;
        top: auto;
    }
    .navbar-collapse.in {
        max-height: 450px;
        overflow-y: auto;
    }
    .header-fix {
        height: 60px;
    }
    .navbar-brand {
        padding-left: 16px;
    }
    .contact-box {
        padding: 60px 20px;
    }
    .form-wrapper {
        padding-right: 40px;
    }
    #company-location {
        width: 100%;
        position: relative;
        height: 300px;
        right: auto;
        left: auto;
        margin-top: 40px;
    }
    .register-left-graphic {
        display: none;
    }
    .register-forms {
        height: 440px;
        width: 100%;
        padding: 50px 15px 0px 15px;
    }
    .register-footer {
        width: 100%;
        border-top: none;
        left: 0px;
    }
    .slider-text h1 {
        font-size: 18px;
    }
    .slider-text p {
        letter-spacing: 2px;
        font-size: 10px;
    }
    .slider-img img {
        max-width: 100%;
    }
    .carousel-caption {
        text-align: center;
        top: 150px;
    }
    .navbar-brand>img {
        width: auto;
        height: 34px;
    }
    .yamm-fw .dropdown-menu .grid-demo {
        padding: 0 10px;
    }
    .navbar-brand {
        height: 60px;
    }
    .user-resistration-inner {
        min-height: 400px;
        max-width: 700px;
        width: calc(100% - 20px);
    }
    .yamm-fw .dropdown-menu .row h4 {
        font-size: 13px;
        border-bottom: 2px solid #70b6e5;
        margin-bottom: 15px;
        color: #afafaf;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 35px;
    }
    .mega-menu-ul li {
        margin-bottom: 5px;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 9px;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .header-dark .navbar-default .navbar-nav>li>a {
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        font-weight: 400;
        padding: 0 15px;
    }
    .hide-mobile {
        display: none !important;
    }
    .search-bar {
        transform: rotateX(0deg);
        display: none;
        animation: search-hide 0.3s ease-in;
    }
    .hide-md {
        display: block !important;
    }
    .search-open {
        float: right;
        font-size: 18px;
        line-height: 59px;
        margin-right: 9px;
    }
    .search-bar.active {
        display: block;
        right: 0px;
        animation: search 0.3s ease-in;
    }
    .search-bar input {
        width: 200px;
    }
    .search-bar .search-btn {
        display: block;
        width: 100px;
    }
    #slider-main, #slider-main .owl-wrapper, #slider-main .owl-item, #slider-main .item {
        height: calc(100vh - 60px);
        min-height: 570px;
    }
    .f-1, .f-2, .f-3 {
        margin-bottom: 20px;
    }
}
@media (max-width:550px) {
    #gallary-modal .modal-title { 
        font-size: 12px;
    }
    .modal-body { 
        padding: 5px;
    }
    .post-controls span{
        margin-right:0px;
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .blog-caption {
        font-size: 14px;
    }
    .blog-left p{
        font-size: 12px;
    }
    .blog-left{
        padding: 20px;
    }

    .subscribe-now input{
        width: 180px;
    }
    .subscribe-now {
        width: 280px;
        margin-top: 10px;
    }
    #error-page .caption-bottom {
        font-size: 18px;
    }
    .logo-footer {
        width: 100px;
    }
    .box-contant h2 {
        margin-top: 0;
        line-height: 28px;
        font-size: 20px;
    }
    .slider-main .slider-text h1 {
        font-size: 20px;
    }
    .project ul li {
        width: 48%;
        margin: 2px;
        border-right: 1px solid #70b6e5
    }
    .client-contant {
        background-image: none;
    }
    .box-bg {
        height: 215px;
    }
    .section {
        padding: 50px 0px;
    }
    .section-title span {
        padding: 5px 10px;
        font-size: 13px;
    }
    .section-title h1 {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 24px;
        margin-top: 15px;
    }
    .service-box-1 a {
        display: block;
        font-size: 14px;
    }
    .service-box-1.last{
        margin-bottom: 0px;
    }
    .gallery-row .col-md-4.last{
        margin-bottom: 0px;
    }
    .project-wrapper.last{
        margin-bottom: 0px;
    }
    .team-member.last{
        margin-bottom: 0px;
    }
    .featured-blog-box.last{
        margin-bottom: 0px;
    }
    .about-right-side {
        margin: 0px;
        margin-top: 40px;
    }
    .open-modal {
        display: block;
        padding: 10px;
    }
    .decoration-text {
        display: none;
    }
    .conatnt-row {
        padding-top: 30px;
    }
    .f-1, .f-2, .f-3 {
        margin-bottom: 20px;
    }
    .footer-title {
        margin-bottom: 15px;
    }
    .contact-box {
        padding: 60px 20px;
    }
    #company-location {
        width: 100%;
        position: relative;
        height: 300px;
        right: auto;
        left: auto;
        margin-top: 40px;
    }
    .form-wrapper {
        padding: 15px;
        padding-right: 15px;
    }
    .contact-details-top {
        display: block;
    }
    .gallery-row {
        padding-top: 20px;
    }
    .box-contact {
        margin-bottom: 50px;
    }
    .slider-text h1 {
        margin-bottom: 10px;
    }
    .slider-text a {
        margin-top: 0px;
    }
}
@keyframes search {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes search-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ===================================
    Page Loader
====================================== */
.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/loader.svg) #fff center no-repeat;
    z-index: 9999;
    background-size: 100px;
}


/* ===================================
    Demo Pages
====================================== */
.demos-inner{
    overflow: auto;
    height: 100%;
}
.demos{
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 320px;
    z-index: 888;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14901960784313725);
}
.theme-setting:focus, .theme-setting:hover{
    color: #70b6e5;
}
.theme-setting:hover i{
    transform: rotate(180deg);
    transition: 0.5s;
}
.theme-setting{
    padding: 10px;
    color: #70b6e5;
    position: absolute;
    top: 140px;
    font-size: 20px;
    left: -41px;
    padding-left: 16px;
    border-radius: 2px;
    background: #fff;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.12156862745098039);
}
.demo-header {
    width: 100%;
    margin-top: 0px;
    padding: 27px 0;
    background: #70b6e5;
    text-align: center;
}
.demo-header .btn-theme {
    padding: 8px 15px;
    background: #ffffff;
    color: #252c3e;
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 13px;
}
.demo-pages{
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.page {
    width: 48%;
    float: left;
    margin: 1%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.09019607843137255);
}
.page-footer{
    text-align: center;
    padding: 5px 10px;
    background: #252c3e;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.coming-soon-demos img{
    width: 100%;
}
.coming-soon-demos {
    padding: 35px 0;
}
body .demos {
    transform: translateX(320px);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
body.demo-open .demos {
    transform: translateX(0px);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
@media (max-width:550px){
    .demo-slider h2{
        font-size: 22px;
    }
    .theme-setting {
        padding: 6px;
        left: -31px;
        padding-left: 10px;
    }
    .demo-header {
        padding: 13px 0;
    }
    .demo-pages {
        padding-top: 35px;
    }
    .demo-pages h4{
        margin-top: 0px;
    }
    .demos{
        width: 270px;

    }
    body .demos {
        transform: translateX(270px);
    }
    .coming-soon-demos {
        padding: 20px 0;
    }
}
